@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

@font-face{
  font-family: "Open Sans";
  src: url(../../obj/polices/OpenSans-Bold.ttf);
}

body{
	margin: 0;
	padding: 0;
	background: #666;
	background: url("../images/wallpaper/tintin44.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	 background-position: center; 
}

.editiondiv{
	width: 70%;
	border: 0.5vw solid #3d3d3d;
	position: absolute;
	top: 10%;
	left: 15%;

	background: #666;
}

.editiondiv h2{
	color: #910202;
	font-size: 3vw;
	font-family: "Alegreya Sans";
	text-align: center;
	padding-top: 2%;
	padding-bottom: 2%;
	border-bottom: 0.5vw solid #3d3d3d;
	background-color: #ccc;
	text-shadow: 2px 0 0 #3d3d3d, 2px 2px 0 #3d3d3d, 0 2px 0 #3d3d3d, -2px 2px 0 #3d3d3d, -2px 0 0 #3d3d3d, -2px -2px 0 #3d3d3d, 0 -2px 0 #3d3d3d, 2px -2px 0 #3d3d3d;
}

.logo{
	margin-top: 30%;
	position: relative;
	border-right: 1vw solid grey;
	border-radius: 20%;
	width: 40%;
	box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
	margin-left: calc(30% - 0.25em);

}

.gauche {
	width: calc(35% - 0.5em);
	height: 100%;
	float: left;

}

.droite {
	border-left: 0.5em solid grey;
	width: 65%;
	height: 100%;
	float: left;
	background-color: #3d3d3d;
	word-wrap:break-word;
}

.droite p{
	margin-left: 6%;
	width: 88%;
	text-align: left;
}

.profiltext{
	color: white;
	font-family: "Open Sans";
	font-size: 1vw;
}

.titre{
	color: #999;
	text-transform: uppercase;
	font-weight:bold;
	font-family: "Alegreya Sans";
	margin-top: 4%;
	font-size: 1.2vw;
}

.titre2{
	color: #3d3d3d;
	text-transform: uppercase;
	font-weight:bold;
	font-family: "Alegreya Sans";
	margin-top: 4%;
	font-size: 1.2vw;
	text-align: center;
	cursor: pointer;
}


.file-input{
		font-family: "Open Sans";
	margin-left: 6%;
	width: 44%;
	border-bottom: 0.2vw solid #910202; 
}
.file-input > input[type="file"]{
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	background: green;
	opacity: 0;
		font-size: 1.2vw;
	width: 100%;
}

.file-input > span{
	position: absolute;
	margin: 0px;
	font-size: 1.2vw;
	color: #fff;
	width: 44%;
}

.profiltext > input{
	background: transparent;
	border-bottom: 0.2vw solid #910202; 
	width: 50%;
	border-top: transparent; 
	border-left: transparent; 
	border-right: transparent; 
	color: #fff;
	font-size: 1.2vw;
}

.edition2{
	color: #910202;
	text-decoration: none;
	text-transform: uppercase;
	font-weight:bold;
	font-family: "Alegreya Sans";
	margin-bottom: 4%;
	margin-left: 6%;
	float: left;
	border: 0.2em solid #910202;
	border-radius: 10%;
	padding: 0.5% 2% 0.5% 2%;
	box-shadow: 0 1px 16px rgba(0, 0, 0, .4);
	background-color: #999;
	font-size: 1.2vw;

}

.edition2:hover{
	transition: .4s;
	border-radius: 40%;
	border-color: #DD1C1A;
	color: #DD1C1A;
}

.erreur{
	text-align: center;
	font-size: 1vw;
	color: red;
	text-decoration: underline;
	padding-bottom: 6%;
}